.box {
    background-color: white;
    height: auto;
    width: auto;
    margin: auto;
    background-attachment: fixed;
}


.Jagalab {
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-align: left;
  font-size: 40px;
  color: #1ABC9C;
}
.font {
  font-family: Trattatello, fantasy;
  text-align:left;
  font-size: 40px;
  color: #1ABC9C;

}

.font1 {
  font-family: Courier New, monospace;
  text-align:left;
  font-size: 20px;
  line-height: 0.3;
  margin-top: -20px;
}

.gaya {
  font-family:Courier New, monospace;
  text-align: right;
  font-size: 20px;
  line-height: 100px;
}

.gaya1{
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-align: center;
  font-size: 50px;
  color: #1ABC9C;
  margin-top: 10px;
}

.garis {
  margin-top: -50px;
  line-height: 20px;
}

.gariss {
  margin-top: -45px;
}

.pkl{
  font-family: Courier New, monospace;
  text-align: left;
  font-size: 17px;
}

.office{
  font-family: Courier New, monospace;
  font-size: 15px;
  margin-top: -20px;
}

.yk {
  font-family: Courier New, monospace;
  text-align: center;
  font-size: 15px;
  line-height: 50px;
}

.prff{
  font-family: Courier New, monospace;
  text-align: center;
  font-size: 15px;
  line-height: 100px;

}
.style {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.56), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.triangles{
  background-image: url("http://localhost/sertifikat/sertifikat/img/jgg.jpg");
  background-position: center;  
  background-size: cover;
  overflow: hidden;
  padding: 20px;
  margin-right: 20px;
  border: 2px solid #000;
}
  .triangle{
    margin:10px;
    float: left;
  }

.circle1 { 
    width:60px;
    height: 60px;
    background-color: #1ABC9C;
    border-radius: 50%;
    float: right;
    position: right;
    margin-right: -40px;
    padding: 10px;
    border: 8px solid white;
    margin: 2px;
    -webkit-shape-outside: circle() padding-box;
    shape-outside: circle() padding-box;
}

.circle2 { 
    width:30px;
    height: 30px;
    background-color: #1ABC9C;
    border-radius: 50%;
    float: right;
    position: right;
    margin-right: -40px;
    padding: 10px;
    border: 5px solid white;
    margin: 1px;
    -webkit-shape-outside: circle() padding-box;
    shape-outside: circle() padding-box;
}

.circle3 { 
    width:10px;
    height:10px;
    background-color: #1ABC9C;
    border-radius: 50%;
    float: right;
    position: right;
    margin-right: -40px;
    padding: 10px;
    border: 3px solid white;
    margin: 0px;
    -webkit-shape-outside: circle() padding-box;
    shape-outside: circle() padding-box;
}

.circle4 { 
    width:30px;
    height:30px;
    background-color: #1ABC9C;
    border-radius: 50%;
    float: right;
    position: right;
    margin-right:-1000px;
    padding: 10px;
    border: 5px solid white;
    margin: -95px;
    margin-top: -1px;
    -webkit-shape-outside: circle() padding-box;
    shape-outside: circle() padding-box;
}

.circle5 { 
    width:10px;
    height:10px;
    background-color: #1ABC9C;
    border-radius: 50%;
    float: right;
    position: right;
    margin-right:-40px;
    padding: 10px;
    border: 5px solid white;
    margin: -95px;
    margin-top: 60px;
    -webkit-shape-outside: circle() padding-box;
    shape-outside: circle() padding-box;
}





