.box {
	   background-color: white;
    height: auto;
    width: auto;
    margin: auto;
    background-attachment: fixed;
    
}

.font {
  font-family: Trattatello, fantasy;
  text-align: center;
  font-size: 20px;
  color: #1ABC9C;
}

.font1{
	font-family: Trattatello, fantasy;
  	text-align: center;
  	font-size: 20px;
    color: #1ABC9C;
}

h1{
  font-family: sans-serif;
}

table {
  font-family: Courier New, monospace;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  background: #1DD1A1;
  border: #ccc 1px solid;
  margin:auto;
}

table th {
  padding: 10px 25px;
  border-left:1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #1dd1a1;
  
}

table th:first-child{  
  border-left:none;  
}

table tr {
  text-align: center;
  padding-left: 20px;
}

table td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
  text-align: left;
}

table td {
  padding: 10px 25px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
  text-align: left;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

.triangles{
  overflow: hidden;
  padding: 10px;
  margin-right: 20px;
  border: 2px solid #000;
}

  .triangle-bottomleft {
  width: 0;
  height:0;
  border-bottom: 80px solid #1DD1A1;
  border-right: 190px solid transparent;
  border-left: 90px solid transparent;
  float:left;
  margin-left: -100px;
  margin-bottom: -10px;
}

.triangle-topright {
  width: 0;
  height: 0;
  border-top: 80px solid #1DD1A1;
  border-right: 190px solid transparent;
  border-left: 190px solid transparent;
  float:right;
  margin-right: -200px;
  margin-top: -120px;

}
  .triangle{
    margin:10px;
    float: left;
  }


